body {
  .products-div {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    .products {
      display: flex;
      max-width: 111rem;
      margin: 0 auto;
      justify-content: space-between;
      .product-list {
        width: 40.5rem;
        height: 34.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 12.8rem;
        .product-release {
          h4 {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.9rem;
            letter-spacing: 1rem;
            color: #f1f1f1;
          }
        }
        .product-name {
          h2 {
            font-weight: 700;
            font-size: 5.6rem;
            line-height: 5.8rem;
            letter-spacing: 0.2rem;
            color: rgba(255, 255, 255, 1);
            text-transform: uppercase;
          }
        }
        .about {
          p {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: #ffffff;
          }
        }
        .product-view {
          .btn {
            width: 16rem;
            height: 4.8rem;
            background-color: rgba(216, 125, 74, 1);
            color: white;
            border: none;
          }
          .btn:hover {
            background-color: rgba(110, 111, 111, 1);
            transition: 1s;
          }
        }
      }
    }
  }
  .lists-div {
    max-width: 144rem;
    background-color: #ffffff;
    margin: 0 auto;
    .lists-product {
      max-width: 111rem;
      height: 28.4rem;
      margin: 12rem auto;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card {
        width: 35rem;
        height: 28.4rem;
        .div-img {
          display: flex;
          img {
            position: relative;
            z-index: 1;
            margin: 0 auto;
            height: 13rem;
          }
        }
        .shop {
          width: 35rem;
          height: 20.4rem;
          background-color: #f1f1f1;
          position: relative;
          top: -8rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h3 {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color: rgba(0, 0, 0, 1);
            margin-top: 3.6rem;
          }
          a {
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 1.8rem;
            color: rgba(0, 0, 0, 0.285);
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            gap: 1rem;
          }
          a:hover {
            color: red;
            transition: 2s;
          }
        }
      }
    }
  }
  .about-us {
    max-width: 111rem;
    height: 58.8rem;
    margin: 11.2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      width: 44.5rem;
      height: 29.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.4rem;
        color: #101010;
        text-transform: uppercase;
        span {
          color: #d87d4a;
        }
      }
      p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}
