body {
  .products {
    display: flex;
    width: 111rem;
    margin: 0 auto;
    justify-content: space-between;
    .product-list {
      width: 40.5rem;
      height: 34.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 12.8rem;
      .product-release {
        h4 {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.9rem;
          letter-spacing: 1rem;
          color: #f1f1f1;
        }
      }
      .product-name {
        h2 {
          font-weight: 700;
          font-size: 5.6rem;
          line-height: 5.8rem;
          letter-spacing: 0.2rem;
          color: rgba(255, 255, 255, 1);
          text-transform: uppercase;
        }
      }
      .about {
        p {
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 2.5rem;
          color: #ffffff;
        }
      }
      .product-view {
        .btn {
          width: 16rem;
          height: 4.8rem;
          background-color: rgba(216, 125, 74, 1);
          color: white;
          border: none;
        }
        .btn:hover {
          background-color: rgba(110, 111, 111, 1);
          transition: 1s;
        }
      }
    }
  }
}
