/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #FFFFFF;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSansGeorgian-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

body header .header-container {
  max-width: 100%;
  height: 10rem;
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: center;
}
body header .header-container .header-content {
  max-width: 111rem;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header-container .navigation nav ul {
  display: flex;
  gap: 5rem;
}
body header .header-container .navigation nav li {
  list-style-type: none;
}
body header .header-container .navigation nav a {
  font-weight: 700;
  font-size: 1.3;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: white;
}
body header .header-container .navigation nav a:hover {
  color: red;
  transition: 2s;
}
body header .underLine {
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 0.1rem;
}

body .products-div {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}
body .products-div .products {
  display: flex;
  max-width: 111rem;
  margin: 0 auto;
  justify-content: space-between;
}
body .products-div .products .product-list {
  width: 40.5rem;
  height: 34.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12.8rem;
}
body .products-div .products .product-list .product-release h4 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  color: #f1f1f1;
}
body .products-div .products .product-list .product-name h2 {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: 0.2rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
body .products-div .products .product-list .about p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #ffffff;
}
body .products-div .products .product-list .product-view .btn {
  width: 16rem;
  height: 4.8rem;
  background-color: rgb(216, 125, 74);
  color: white;
  border: none;
}
body .products-div .products .product-list .product-view .btn:hover {
  background-color: rgb(110, 111, 111);
  transition: 1s;
}
body .lists-div {
  max-width: 144rem;
  background-color: #ffffff;
  margin: 0 auto;
}
body .lists-div .lists-product {
  max-width: 111rem;
  height: 28.4rem;
  margin: 12rem auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .lists-div .lists-product .card {
  width: 35rem;
  height: 28.4rem;
}
body .lists-div .lists-product .card .div-img {
  display: flex;
}
body .lists-div .lists-product .card .div-img img {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  height: 13rem;
}
body .lists-div .lists-product .card .shop {
  width: 35rem;
  height: 20.4rem;
  background-color: #f1f1f1;
  position: relative;
  top: -8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .lists-div .lists-product .card .shop h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: rgb(0, 0, 0);
  margin-top: 3.6rem;
}
body .lists-div .lists-product .card .shop a {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: rgba(0, 0, 0, 0.285);
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
body .lists-div .lists-product .card .shop a:hover {
  color: red;
  transition: 2s;
}
body .about-us {
  max-width: 111rem;
  height: 58.8rem;
  margin: 11.2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .about-us .text {
  width: 44.5rem;
  height: 29.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .about-us .text h3 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.4rem;
  color: #101010;
  text-transform: uppercase;
}
body .about-us .text h3 span {
  color: #d87d4a;
}
body .about-us .text p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgb(0, 0, 0);
}

body .footer-container {
  max-width: 100%;
  background-color: black;
  height: 36.5rem;
  display: flex;
  flex-direction: column;
}
body .footer-container .navbar {
  max-width: 111rem;
  width: 100%;
  margin: 7.5rem auto;
  margin-bottom: 0rem;
  display: flex;
  justify-content: space-between;
}
body .footer-container .navbar .navigation nav ul {
  display: flex;
  gap: 5rem;
}
body .footer-container .navbar .navigation nav li {
  list-style-type: none;
}
body .footer-container .navbar .navigation nav a {
  font-weight: 700;
  font-size: 1.3;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: white;
}
body .footer-container .navbar .navigation nav a:hover {
  color: red;
  transition: 2s;
}
body .footer-container .info {
  max-width: 111rem;
  width: 100%;
  margin: 3.6rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body .footer-container .info p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(255, 255, 255, 0.7);
  max-width: 54rem;
  height: 10rem;
}
body .footer-container .info .icons {
  display: flex;
  gap: 1.6rem;
}
body .footer-container .copyright {
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
body .footer-container .copyright span {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(255, 255, 255, 0.7);
}/*# sourceMappingURL=global.css.map */